<h1>Hello There!</h1>

<p>
You're the <%= counter.user_count.ordinalize %> person to visist this page, and you are looking at the demo application for a 
blog post detailing how to Dockerize a Ruby on Rails application for dev, test, and production environments.
</p>

<p>To read more visit <a href="example.com">the blog post</a>.</p>
<p>To see the code running this application check out <a href="https://github.com/jm96441n/rails_docker"> the repo</a>.</p>


<p>Thanks for stopping by and happy coding!</p>
